
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0">
    <a href="/" class="navbar-brand ms-lg-5">
        <h1 class="m-0 text-uppercase text-dark"><i class="bi bi-shop fs-1 text-primary me-3"></i>Pet Shop</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
            <NavLink href="/" Match="NavLinkMatch.All" class="nav-item nav-link active">Home</NavLink>
            <NavLink href="about.html" Match="NavLinkMatch.Prefix" class="nav-item nav-link">About</NavLink>
            <NavLink href="service.html" class="nav-item nav-link">Service</NavLink>
            <NavLink href="product.html" class="nav-item nav-link">Product</NavLink>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu m-0">
                    <NavLink href="price.html" class="dropdown-item">Pricing Plan</NavLink>
                    <NavLink href="team.html" class="dropdown-item">The Team</NavLink>
                    <NavLink href="testimonial.html" class="dropdown-item">Testimonial</NavLink>
                    <NavLink href="blog.html" class="dropdown-item">Blog Grid</NavLink>
                    <NavLink href="detail.html" class="dropdown-item">Blog Detail</NavLink>
                </div>
            </div>
            <NavLink href="contact.html" class="nav-item nav-link nav-contact bg-primary text-white px-5 ms-lg-5">Contact <i class="bi bi-arrow-right"></i></NavLink>
        </div>
    </div>
</nav>
<!-- Navbar End -->


